@media screen and (min-width: 1200px) {
  img {
    display: block;
  }
  .container {
    max-width: 1158px;
  }

  .team,
  .customer {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .hero-main {
    max-width: 1440px;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/headerbg.jpg);
  }

  .hero-main-title {
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
  }

  /*----------- About -----------*/
  .about {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .about-list {
    display: flex;
    gap: 24px;
  }

  .about-item::before {
    display: block;
    content: "";
    height: 112px;
    background-size: 59.72px 64px;
    background-repeat: no-repeat;
    margin-bottom: 8px;
    background-position: center;
    border-radius: 4px;
    background-color: var(--footer-logo-color);
  }

  .icon-antenna::before {
    background-image: url(../images/antenna.svg);
  }

  .icon-clock::before {
    background-image: url(../images/clock.svg);
  }

  .icon-diagram::before {
    background-image: url(../images/diagram.svg);
  }

  .icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
  }

  .about-item {
    width: calc((100% - 72px) / 4);
  }
  .about-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--main-title-color);
  }
  .about-item-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /*----------- /About -----------*/

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .team-list {
    gap: 24px;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
    width: 168px;
    height: 88px;
  }
}
