@media screen and (min-width: 768px) {
  .container {
    max-width: 582px;
  }

  .hero-main {
    max-width: 768px;
    height: 436px;
    padding-top: 111px;
    padding-bottom: 108px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/darkbgtab.jpg);
  }

  .about {
    padding-top: 96px;
    padding-bottom: 62px;
  }

  .about-item {
    width: calc((100% - 24px) / 2);
  }

  .about-list {
    gap: 24px;
    row-gap: 72px;
  }

  .about-item-text {
    max-width: 356px;
  }

  .about-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: left;
  }

  .team {
    padding-top: 96px;
    padding-bottom: 104px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    gap: 24px;
    row-gap: 64px;
  }

  .customer {
    padding-top: 130px;
    padding-bottom: 96px;
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
    width: 168px;
    height: 88px;
  }
}
